
.newPostForm {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
    width: 25%;
    padding-top: 10px; 
  }
  
  .newPostForm button {
    width: 100px;
    padding: 8px;
    background-color: rgb(251, 63, 92);
    color: rgb(249, 250, 255);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    align-self: flex-end;
  }
  .mainPhoto {
    max-width: 200px;
 
  }