.header {
  grid-area: header;
  background-color: rgb(251, 63, 92);
  img {
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 5px;
    width: 45px;
    height: 45px;
  }
}
.loginBlock {
  float: right;
  margin-right: 30px;
  margin-top: 10px;
  a {
    color: rgb(249, 250, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
  }
  
}
