.navbar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  height: 100vh;
  grid-area: navbar;
  background-color: rgb(254, 197, 206);
  ul {
    list-style: none;
  }
}

.item {
  color: rgb(251, 63, 92);
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

.active {
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: rgb(14, 14, 195);
}
